@model DupacoGarageSale.Web.Models.GarageSaleViewModel

<div class="row">        
    <div id="results-filter" class="col-md-3">
        <p class="lead">What are you looking for?</p>
        @using (Html.BeginForm("FilterResults", "GarageSale", FormMethod.Post, new { @role = "form" }))
        {
            <input type="hidden" id="hdnSelectedCategories" value="@ViewBag.SelectedCategories" />
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="form-group">
                        <select name="ddlRadius" id="ddlRadius" class="form-control">
                            <option value="5">5 miles</option>
                            <option value="10">10 miles</option>
                            <option value="15">15 miles</option>
                            <option value="25">25 miles</option>
                            <option value="50">50 miles</option>
                            <option value="100">100 miles</option>
                            <option value="250">250 miles</option>
                            <option value="500">500 miles</option>
                        </select>
                        <br />
                        <textarea class="form-control" style="width:204px;" id="txtAddress" name="txtAddress" placeholder="Enter address or zip code"></textarea>                       
                    </div>
                    <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
                        <div class="panel panel-success">
                        <div id="headingOne" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                            <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                Baby
                            </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse" id="collapseOne">
                            <div class="list-group">
                                @{
                                    if (Model.ItemCategories != null)
                                    {
                                        var categories1 = Model.ItemCategories.Where(m => m.ItemCategoryId == 1);

                                        foreach (var category in categories1)
                                        {
                                            <div class="row" style="margin-left:5px;">
                                                <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        </div>
                        <div class="panel panel-success">
                            <div id="headingTwo" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                        Clothing & Accessories
                                    </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo">
                                <div class="list-group">
                                    @{
                                        if (Model.ItemCategories != null)
                                        {
                                            var categories2 = Model.ItemCategories.Where(m => m.ItemCategoryId == 2);

                                            foreach (var category in categories2)
                                            {
                                                <div class="row" style="margin-left:5px;">
                                                    <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                        <div id="headingThree" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                            <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                Electronics
                            </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree">
                            <div class="list-group">
                                @{
                                    if (Model.ItemCategories != null)
                                    {
                                        var categories3 = Model.ItemCategories.Where(m => m.ItemCategoryId == 3);

                                        foreach (var category in categories3)
                                        {
                                            <div class="row" style="margin-left:5px;">
                                                <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        </div>
                        <div class="panel panel-success">
                        <div id="headingFour" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                            <a aria-controls="collapseFour" aria-expanded="false" href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                Health & Beauty
                            </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingFour" role="tabpanel" class="panel-collapse collapse" id="collapseFour">
                            <div class="list-group">
                                @{
                                    if (Model.ItemCategories != null)
                                    {
                                        var categories4 = Model.ItemCategories.Where(m => m.ItemCategoryId == 4);

                                        foreach (var category in categories4)
                                        {
                                            <div class="row" style="margin-left:5px;">
                                                <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        </div>
                        <div class="panel panel-success">
                            <div id="headingFive" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                <a aria-controls="collapseFive" aria-expanded="false" href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Pets
                                </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingFive" role="tabpanel" class="panel-collapse collapse" id="collapseFive">
                                <div class="list-group">
                                    @{
                                        if (Model.ItemCategories != null)
                                        {
                                            var categories5 = Model.ItemCategories.Where(m => m.ItemCategoryId == 5);

                                            foreach (var category in categories5)
                                            {
                                                <div class="row" style="margin-left:5px;">
                                                    <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div id="headingSix" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                <a aria-controls="collapseSix" aria-expanded="false" href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Home
                                </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingSix" role="tabpanel" class="panel-collapse collapse" id="collapseSix">
                                <div class="list-group">
                                    @{
                                        if (Model.ItemCategories != null)
                                        {
                                            var categories6 = Model.ItemCategories.Where(m => m.ItemCategoryId == 6);

                                            foreach (var category in categories6)
                                            {
                                                <div class="row" style="margin-left:5px;">
                                                    <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div id="headingSeven" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                <a aria-controls="collapseSeven" aria-expanded="false" href="#collapseSeven" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Home Maintenance
                                </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingSeven" role="tabpanel" class="panel-collapse collapse" id="collapseSeven">
                                <div class="list-group">
                                    @{
                                        if (Model.ItemCategories != null)
                                        {
                                            var categories7 = Model.ItemCategories.Where(m => m.ItemCategoryId == 7);

                                            foreach (var category in categories7)
                                            {
                                                <div class="row" style="margin-left:5px;">
                                                    <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div id="headingEight" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                <a aria-controls="collapseEight" aria-expanded="false" href="#collapseEight" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Media
                                </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingEight" role="tabpanel" class="panel-collapse collapse" id="collapseEight">
                                <div class="list-group">
                                    @{
                                        if (Model.ItemCategories != null)
                                        {
                                            var categories8 = Model.ItemCategories.Where(m => m.ItemCategoryId == 8);

                                            foreach (var category in categories8)
                                            {
                                                <div class="row" style="margin-left:5px;">
                                                    <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div id="headingNine" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                <a aria-controls="collapseNine" aria-expanded="false" href="#collapseNine" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Toys & Games
                                </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingNine" role="tabpanel" class="panel-collapse collapse" id="collapseNine">
                                <div class="list-group">
                                    @{
                                        if (Model.ItemCategories != null)
                                        {
                                            var categories9 = Model.ItemCategories.Where(m => m.ItemCategoryId == 9);

                                            foreach (var category in categories9)
                                            {
                                                <div class="row" style="margin-left:5px;">
                                                    <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div id="headingTen" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                <a aria-controls="collapseTen" aria-expanded="false" href="#collapseTen" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Vehicles
                                </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingTen" role="tabpanel" class="panel-collapse collapse" id="collapseTen">
                                <div class="list-group">
                                    @{
                                        if (Model.ItemCategories != null)
                                        {
                                            var categories10 = Model.ItemCategories.Where(m => m.ItemCategoryId == 10);

                                            foreach (var category in categories10)
                                            {
                                                <div class="row" style="margin-left:5px;">
                                                    <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div id="headingEleven" role="tab" class="panel-heading">
                                <h4 class="panel-title">
                                <a aria-controls="collapseEleven" aria-expanded="false" href="#collapseEleven" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    Sports, Fitness & Outdoors
                                </a>
                                </h4>
                            </div>
                            <div aria-labelledby="headingEleven" role="tabpanel" class="panel-collapse collapse" id="collapseEleven">
                                <div class="list-group">
                                    @{
                                        if (Model.ItemCategories != null)
                                        {
                                            var categories11 = Model.ItemCategories.Where(m => m.ItemCategoryId == 11);

                                            foreach (var category in categories11)
                                            {
                                                <div class="row" style="margin-left:5px;">
                                                    <input type="checkbox" name="@category.ItemSubcategoryId" value="@category.ItemSubcategoryId"> <small>@category.ItemSubcategoryName</small>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btnFilter" value="Filter" class="btn btn-primary" />
                    </div> 
                </li>
            </ul>
            
            if (Model.SearchResults != null)
            {        
                if (Model.SearchResults.GarageSaleItems.Count > 0)
                {
                    <input type="hidden" name="hdnSearchCriteria" id="hdnSearchCriteria" value="@Model.SearchResults.GarageSaleItems[0].ItemCategoryName" />
                }
                else
                {
                    <input type="hidden" name="hdnSearchResults" id="hdnSearchResults" value="@ViewBag.SearchResults" /> <!-- This is the free text search string -->
                }
            }
        }        
    </div>

    <div class="col-md-9">                
        <input type="hidden" id="hdnShowMap" value="@ViewBag.ShowMap" />                
        <input type="hidden" id="hdnSearchResultsCount" value="@ViewBag.SearchResultsCount" />
        <div class="row">
            <!-- Here's the map -->
            <div id="map-canvas" style="width: 98%; height: 550px; margin-bottom:20px;"></div>
        </div>
        @if (Model.SearchResults != null)
        {
            if (Model.SearchResults.SpecialItems.Count != 0 || Model.SearchResults.GarageSaleItems.Count != 0)
            {
                <div class="row">                    
                    @if (Model.SearchResults.SpecialItems.Count != 0)
                    {
                        <p class="lead">Hot picks</p>
                        foreach (var item in Model.SearchResults.SpecialItems)
                        {
                            <div class="col-md-5">
                                <div class="thumbnail" style="min-height:530px;max-height:545px;margin-right:4px"> 
                                    @*<img alt="100%x200" data-src="holder.js/100%x200" style="height: 200px; width: 100%; display: block;" src="~/Content/images/garage_sale_pictures/@item.PictureLink">*@
                                    <a href="~/Content/images/garage_sale_pictures/@item.PictureLink" data-lightbox="@item.PictureLink">
	                                    <img alt="100%x200" data-src="holder.js/100%x200" style="height: 200px; width: 100%; display: block;" src="~/Content/images/garage_sale_pictures/@item.PictureLink">
                                    </a> 
                                    <div class="caption">
                                        <h3>@item.Title</h3>
                                        @item.Description<br /><br />
                                        <p><span>$</span> @item.Price</p><br /> 
                                        <a href="~/GarageSale/ViewGarageSale/@item.SaleId">Visit this garage sale</a><br />                  
                                    </div>                    
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="row">
                    @if (Model.SearchResults.GarageSaleItems.Count != 0)
                    {
                        <div class="row">                        
                            <p class="lead">Garage sale items - @Model.SearchResults.GarageSaleItems[0].ItemCategoryName.ToLower()</p>
                            @foreach (var item in Model.SearchResults.GarageSaleItems)
                            {
                                <div class="col-md-5" style="margin-right:4px;">
                                    <div class="panel panel-info">
	                                    <div class="panel-heading">
		                                    @item.ItemCategoryName - @item.ItemSubcategoryName
	                                    </div>
	                                    <div class="panel-body">
		                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> @item.Address1<br />
		                                    @if (item.Address2 != string.Empty)
		                                    {                        
			                                    @item.Address2<br />
		                                    }
		                                    @item.City, @item.State @item.ZipCode<br /><br />
		                                    <a href="~/GarageSale/ViewGarageSale/@item.SaleId">Visit this garage sale</a><br />
	                                    </div>
                                    </div>
                                </div>
                            }
                        </div>    
                    }
                </div>
            } 
            else
            {
                <div class="alert alert-danger" role="alert" style="width:50%;">
                    <strong>Oh no!</strong>
                    No results found!
                </div>
            }
        }
    </div>
</div>

<input type="hidden" value="@ViewBag.SearchAddress" id="hdnSearchAddress" />
<input type="hidden" value="@ViewBag.Radius" id="hdnRadius" />

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0PudWjsqLxR5ZBsdLIBHUjMikiAZJgu8"></script>
<script type="text/javascript">     
   
    var mapAddresses = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Addresses))
    
    var geocoder;
    var circle = null;
    var gmarkers = [];

    function initialize() {
        // Begin simple test map
        //var latlng = new google.maps.LatLng(40.716948, -74.003563);
        //var options = {
        //    zoom: 14,
        //    center: latlng,
        //    mapTypeId: google.maps.MapTypeId.ROADMAP
        //};
        //var map = new google.maps.Map(document.getElementById("map-canvas"), options);
        // End simple test map

        geocoder = new google.maps.Geocoder();
        //alert(geocoder);

        var map;         

        var myOptions = {
            zoom: 8,
            center: new google.maps.LatLng(39.329102, -76.576853),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map($('#map-canvas')[0], myOptions);

        // Sample of hard-coded addresses
        //var addresses = ['7 Saint Paul St. Baltimore MD 21202', '2201 Lake Ave Baltimore MD 21213', '4846 Western Ave Bethesda MD 20816', '201 State Rd Rehoboth DE 19971', '2804 Hyson Lane Falls Church VA 22043'];

        var addresses = mapAddresses;

        if (addresses != null)
        {
            var marker, x;
            var infowindow = new google.maps.InfoWindow();

            for (x = 0; x < addresses.length; x++) {
                $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=' + addresses[x] + '&sensor=false', null, function (data) {

                    var p = data.results[0].geometry.location

                    //alert(data.results[0].formatted_address);  // This will alert the individual addresses.

                    //debugObject(data.results[0].formatted_address);
                    var latlng = new google.maps.LatLng(p.lat, p.lng);
                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        title: data.results[0].formatted_address
                    });

                    // Add the markers to the gmarkers array.
                    gmarkers.push(marker);

                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.setContent(data.results[0].formatted_address + ' <br/><a href="~/GarageSale/GetGarageSaleByAddress?address='+ data.results[0].formatted_address + '">Visit this sale</a>');
                        infowindow.open(map, marker);
                    });
                });            
            }

            geoCodeAddress(map);

            // Jump to the map.
            //window.location = $('#mappy').attr('href');
        }
    }    

    initialize();

    function geoCodeAddress(map) {
        var address = document.getElementById('hdnSearchAddress').value;
        var radius = parseInt(document.getElementById('hdnRadius').value, 10)*1000;
        //var address = document.getElementById("hdnCenterAddress").value;

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) 
            {
                map.setCenter(results[0].geometry.location);
                var searchCenter = results[0].geometry.location; // Added for the radius circle.
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });

                var infowindow = new google.maps.InfoWindow();
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.setContent('Your starting point: ' + results[0].formatted_address);
                    infowindow.open(map, marker);
                });

                if (circle) 
                {
                    circle.setMap(null); // Clear the previous circle.
                }

                circle = new google.maps.Circle({center:searchCenter,
                    radius: radius,
                    fillOpacity: 0.35,
                    fillColor: "#FF0000",
                    map: map
                });

                //alert('zoom: ' + map.getZoom());

                var bounds = new google.maps.LatLngBounds();

                var foundMarkers = 0;
                for (var i=0; i<gmarkers.length;i++) 
                {
                    if (google.maps.geometry.spherical.computeDistanceBetween(gmarkers[i].getPosition(),searchCenter) < radius) {
                        bounds.extend(gmarkers[i].getPosition())
                        gmarkers[i].setMap(map);
                        // add a line to the side_bar html
                        //side_bar_html += '<a href="javascript:myclick(' + i + ')">' + gmarkers[i].title + '<\/a><br>';
                        foundMarkers++;
                    } 
                    else 
                    {
                        gmarkers[i].setMap(null);
                    }
                }
                // put the assembled side_bar_html contents into the side_bar div
                //document.getElementById("side_bar").innerHTML = side_bar_html;
                if (foundMarkers > 0) 
                {
                    map.fitBounds(bounds);
                    //alert('zoom: ' + map.getZoom());
                    //map.setZoom(map.getZoom()+5);
                } 
                else 
                {
                    //alert('zoom else: ' + map.getZoom());
                    map.fitBounds(circle.getBounds());
                }
                // makeSidebar();
                google.maps.event.addListenerOnce(map, 'bounds_changed', makeSidebar);
            }
            else
            {
                // alert("Geocode was not successful for the following reason: " + status);
            }            
        });
    }

    function debugObject(inputobject) {
        obj = inputobject;
        for (x in obj) {
            alert(x + ": " + obj[x]);
        }
    }

</script>