@model DupacoGarageSale.Web.Models.GarageSaleViewModel

@{
    ViewBag.Title = "Search garage sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrap" class="jumbotron" style="min-height:450px;">
    <div class="container">
        <div class="row" style="margin-bottom:10px;">
            <h2><a href="~/Home" style="text-decoration:none;">Home / </a>Search the garage sales</h2><br />            
        </div>
        <div class="row">
            @using (Html.BeginForm("Search", "GarageSale", FormMethod.Post, new { @class="form-inline" }))
            {
                <div class="form-group">
                    <div><h3>What are you looking for?</h3></div>                    
                    <div>
                        <input type="text" class="form-control" style="width:300px;" id="txtSearch" name="txtSearch" placeholder="Enter some search criteria"/>                    
                        <select name="ddlCategories" id="ddlCategories" class="form-control">
                            <option value="0">Select a category...</option>
                            <optgroup label="Baby">
                                <option value="4">Activities & Toys</option>
                                <option value="6">Bedding</option>
                                <option value="2">Car Seats</option>
                                <option value="7">Diapering</option>
                                <option value="3">Equipment</option>
                                <option value="8">Feeding</option>
                                <option value="9">Health & Safety</option>
                                <option value="5">Nursery Furniture</option>
                                <option value="1">Strollers</option>
                            </optgroup>
                            <optgroup label="Clothing & Accessories">
                                <option value="26">Accessories</option>
                                <option value="28">Bags & Purses</option>
                                <option value="19">Boys' Clothing sized 4-20</option>
                                <option value="12">Girls' Clothing sized 4-16</option>
                                <option value="17">Infant Boys' Clothing</option>
                                <option value="10">Infant Girls' Clothing</option>
                                <option value="27">Jewelry & Watches</option>
                                <option value="13">Juniors' Clothing</option>
                                <option value="16">Maternity Clothing</option>
                                <option value="22">Men's Big & Tall Clothing</option>
                                <option value="21">Men's Clothing</option>
                                <option value="24">Men's Formal</option>
                                <option value="30">Name-brand Items</option>
                                <option value="25">Outerwear</option>
                                <option value="15">Plus-Size Clothing</option>
                                <option value="29">Shoes & Boots</option>
                                <option value="18">Toddler Boys' Clothing</option>
                                <option value="11">Toddler Girls' Clothing</option>
                                <option value="14">Women's Clothing</option>
                                <option value="23">Women's Formal</option>
                                <option value="20">Young Men's Clothing</option>
                            </optgroup>
                            <optgroup label="Electronics">
                                <option value="34">Computers & Peripherals</option>
                                <option value="36">Games & Game Systems</option>
                                <option value="41">GPS & Navigation</option>
                                <option value="42">Instruments</option>
                                <option value="33">Laptops & Tablets</option>
                                <option value="37">Mobile Phones & Accessories</option>
                                <option value="38">Office & School Supplies</option>
                                <option value="35">Photo & Video</option>
                                <option value="32">Portable Audio & MP3 Players</option>
                                <option value="40">Smart Home</option>
                                <option value="43">Turntables & Vintage Electronics</option>
                                <option value="31">TV & Home Theater</option>
                                <option value="39">Wearable Technology</option>
                            </optgroup>
                            <optgroup label="Health & Beauty">
                                <option value="48">Accessories</option>
                                <option value="47">Fragrance</option>
                                <option value="45">Nail Care</option>
                                <option value="44">Skin Care & Makeup</option>
                                <option value="46">Styling Tools</option>
                            </optgroup>
                            <optgroup label="Pets">
                                <option value="51">Cages, Kennels & Bedding</option>
                                <option value="50">Carriers</option>
                                <option value="49">Clothes & Toys</option>
                                <option value="52">Feeding & Grooming</option>
                                <option value="55">Pets For Sale</option>
                                <option value="54">Tanks & Filters</option>
                                <option value="53">Training</option>
                            </optgroup>
                            <optgroup label="Home">
                                <option value="79">Antiques & Vintage</option>
                                <option value="62">Bath</option>
                                <option value="61">Bedding</option>
                                <option value="71">Collectibles & Knick-knacks</option>
                                <option value="57">Cookware & Bake-ware</option>
                                <option value="69">Décor</option>
                                <option value="56">Dining & Serving-ware</option>
                                <option value="59">Food Storage & Canning</option>
                                <option value="58">Glassware</option>
                                <option value="68">Heating & Cooling</option>
                                <option value="70">Holiday Décor</option>
                                <option value="60">Kitchen Textiles</option>
                                <option value="66">Large Appliances</option>
                                <option value="74">Lighting</option>
                                <option value="77">Luggage</option>
                                <option value="75">Rugs & Floor Covering</option>
                                <option value="78">Sewing & Crafting</option>
                                <option value="67">Small Appliances & Electronics</option>
                                <option value="72">Storage & Organization</option>
                                <option value="63">Tables & Chairs</option>
                                <option value="65">Upholstered Furniture</option>
                                <option value="73">Vacuums & Floor Care</option>
                                <option value="76">Window Coverings</option>
                                <option value="64">Wood Furniture</option>
                            </optgroup>
                            <optgroup label="Home Maintenance">
                                <option value="80">Building Materials</option>
                                <option value="82">Hand Tools</option>
                                <option value="81">Ladders</option>
                                <option value="86">Lawn & Garden</option>
                                <option value="87">Outdoor Power Equipment</option>
                                <option value="85">Painting Supplies</option>
                                <option value="83">Power Tools</option>
                                <option value="88">Snow Removal</option>
                                <option value="84">Tool Boxes & Storage</option>
                            </optgroup>
                            <optgroup label="Media">
                                <option value="89">Books: Adult & Teen</option>
                                <option value="91">Cookbooks</option>
                                <option value="90">Magazines</option>
                                <option value="96">Movies</option>
                                <option value="94">Music</option>
                                <option value="92">Sheet Music</option>
                                <option value="93">Software</option>
                                <option value="95">TV Series</option>
                                <option value="97">Video Games</option>
                                <option value="98">Vinyl & Vintage Media</option>
                            </optgroup>
                            <optgroup label="Toys & Games">
                                <option value="99">Action Figures & Playsets</option>
                                <option value="100">Arts & Crafts</option>
                                <option value="112">Books: Kids & Pre-teen</option>
                                <option value="101">Building Sets & Blocks</option>
                                <option value="114">Collectible Cards</option>
                                <option value="102">Dolls & Accessories</option>
                                <option value="103">Dress-up & Pretend Play</option>
                                <option value="104">Games & Puzzles</option>
                                <option value="105">Kids' Electronics</option>
                                <option value="106">Learning Toys</option>
                                <option value="108">Outdoor Play Systems</option>
                                <option value="107">Outdoor Toys</option>
                                <option value="111">Remote Controlled</option>
                                <option value="109">Riding Toys</option>
                                <option value="110">Stuffed Animals & Plush Toys</option>
                                <option value="113">Toy Cars & Trucks</option>
                            </optgroup>
                            <optgroup label="Vehicles">
                                <option value="120">Agricultural Machinery</option>
                                <option value="117">Campers & ATVs</option>
                                <option value="115">Cars & Trucks</option>
                                <option value="118">Motorcycles</option>
                                <option value="122">Parts & Accessories</option>
                                <option value="119">Scooters</option>
                                <option value="121">Trailers</option>
                                <option value="116">Watercraft</option>
                            </optgroup>
                            <optgroup label="Sports, Fitness & Outdoors">
                                <option value="135">Backyard Games</option>
                                <option value="123">Bicycling</option>
                                <option value="125">Boating & Water Sports</option>
                                <option value="127">Camping & Outdoors</option>
                                <option value="137">Exercise & Fitness</option>
                                <option value="139">Firewood</option>
                                <option value="132">Fishing</option>
                                <option value="133">Golfing</option>
                                <option value="130">Grills</option>
                                <option value="131">Hunting</option>
                                <option value="128">Outdoor Décor</option>
                                <option value="138">Outdoor Storage</option>
                                <option value="129">Patio Furniture</option>
                                <option value="140">Plants</option>
                                <option value="126">Pools & Water Play</option>
                                <option value="124">Scooters, Skateboards & Skates</option>
                                <option value="134">Team Sports Equipment</option>
                                <option value="136">Winter Sports</option>
                            </optgroup>
                        </select>
                    </div>                                    
                </div>
                <br /><br />
                <div class="form-group">
                    <div><h3>Where is it?</h3></div>
                    <div>
                        <select name="ddlRadius" id="ddlRadius" class="form-control">
                            <option value="0">Any distance</option>
                            <option value="5">5 miles</option>
                            <option value="10">10 miles</option>
                            <option value="15">15 miles</option>
                            <option value="25">25 miles</option>
                            <option value="50">50 miles</option>
                            <option value="100">100 miles</option>
                        </select>
                        <span style="margin-left:10px;margin-right:10px;"> from</span>
                        <input type="text" class="form-control" style="width:384px;" id="txtAddress" name="txtAddress" placeholder="Enter an address or zip code" />                         
                    </div>                    
                </div>
                <br /><br /><br />
                <div class="form-group"><input type="submit" id="btnSearch" value="Search the sales" class="btn btn-primary" /></div>
            }
        </div>
        <div class="row">
            <span class="red hidden" id="validateSearchText">Enter a search term</span><br />
            <span class="red hidden" id="validateSearchCategories">Select a category</span><br />
        </div>
        <hr />

        @if (Model.SearchResults != null)
        {
            <div class="row">  
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Hot Picks!</b></h3>
                    </div>
                    <div class="panel-body">          
                        @{ if (Model.SearchResults.SpecialItems.Count == 0)
                            {
                                <p class="lead">Sorry! No hot picks of this type returned. :-(</p>
                            }
                            else
                            {
                                if (Model.SearchResults.SpecialItems.Count > 0)
                                {
                                    <p class="lead">We found these hot picks</p>
                                }

                                foreach (var item in Model.SearchResults.SpecialItems)
                                {
                                    <div class="col-md-4">
                                        <div class="thumbnail" style="min-height:490px;">
                                            <img alt="100%x200" data-src="holder.js/100%x200" style="height: 200px; width: 100%; display: block;" src="~/Content/images/garage_sale_pictures/@item.PictureLink">
                                            <div class="caption">
                                                <h3>@item.Title</h3>
                                                @item.Description<br /><br />
                                                <p><span>$</span> @item.Price</p><br /> 
                                                <a href="~/GarageSale/ViewGarageSale/@item.SaleId">Visit this garage sale</a><br />                  
                                            </div>                    
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            
            <hr />
            <div class="row" style="margin-top:20px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Results from other garage sales</b></h3>
                    </div>
                    <div class="panel-body">          
                        @{ if (Model.SearchResults.GarageSaleItems.Count == 0)
                            {
                                <p class="lead">Sorry! No other sales featuring this type of item returned. :-( </p>
                            }
                            else
                            {
                                if (Model.SearchResults.GarageSaleItems.Count > 0)
                                {
                                    <p class="lead">We found similar items at these other garage sales</p>
                                }

                                foreach (var item in Model.SearchResults.GarageSaleItems)
                                {
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            @item.ItemCategoryName - @item.ItemSubcategoryName<br />
                                            @item.Address1<br />
                                            @if (item.Address2 != string.Empty)
                                            {                        
                                                @item.Address2<br />
                                            }
                                            @item.City, @item.State @item.ZipCode<br /><br />
                                            <a href="~/GarageSale/ViewGarageSale/@item.SaleId">Visit this garage sale</a><br />
                                        </div>
                                    </div>
                                }
                           }
                        }
                    </div>
                </div>
            </div>       
        } 
    </div>
</div>
