@model DupacoGarageSale.Web.Models.AdminViewModel

@*<input id="hdnSaveMessage" type="hidden" value="@ViewBag.Invisible" />
<div class="alert alert-success hidden" role="alert" id="divSaveMessage" style="width:40%;">
    <strong>Nice work!</strong>
        The user profile was successfully updated!
</div>*@
<div>
    @using (Html.BeginForm("SaveUserProfile", "Admin", FormMethod.Post, new { @class="form-horizontal", @role="form", enctype="multipart/form-data" }))
    {
        <h2>User details:</h2>
        <div class="row">
            <div class="col-md-6">                
                <div class="form-group">
                    <label class="col-sm-3 control-label">First name</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control", id="txtFirstName" })
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-3 control-label">Last name</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control", id="txtLastName" })
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-3 control-label">User name</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control", id="txtUserName", @readonly="true" })
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", id="txtEmail", @readonly="true" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.User.Phone, new { @class = "form-control", id="txtPhone" })
                    </div>
                </div>  
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">House number & street</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.User.Address.Address1, new { @class = "form-control", id="txtAddress1" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Apt, unit, or condo #</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.User.Address.Address2, new { @class = "form-control", id="txtAddress2" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.User.Address.City, new { @class = "form-control", id="txtCity" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">State</label>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(m => m.User.Address.StateId, ViewData["StatesList"] as SelectList, "Select...", new { id="ddlStatesList", @class="form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Zip Code</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.User.Address.Zip, new { @class = "form-control", id="txtZip" })
                    </div>
                </div>                    
                                     
            </div>
        </div>
            
        <div class="row down_40">
            <div class="col-md-8 col-md-offset-1">
                <div class="form-group">
                    <input type="submit" value="Save profile" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".changePasswordModal">
                        Change password
                    </button>
                </div>
            </div>
        </div>            
        <div>
            @Html.HiddenFor(m => m.User.Active)
            @Html.HiddenFor(m => m.User.CreateDate)
            @Html.HiddenFor(m => m.User.UserId)
        </div>
    }
</div>

<div>
    <h2>Garage sales hosted by the user:</h2>

    @if (Model.UserGarageSales != null)
    {
        if (Model.UserGarageSales.Count > 0)
        {
            foreach (var sale in Model.UserGarageSales)
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@sale.GarageSaleName</h3>
                    </div>
                    <div class="panel-body">
                        @Html.HiddenFor(m => m.GarageSale.GarageSaleId)
                        <strong>Description:</strong> @sale.SaleDescription<br />
                        <strong>Last modified:</strong> @sale.ModifyDate<br /><br />
                        <strong>House number & street:</strong> @sale.SaleAddress1<br />
                        <strong>Apt, unit, or condo #:</strong> @sale.SaleAddress2<br />
                        <strong>City:</strong> @sale.SaleCity<br />
                        <strong>State:</strong> @sale.SaleState<br />
                        <strong>Zip code:</strong> @sale.SaleZip<br /><br />
                        <strong>Sale dates/times:</strong><br /><br />
                        <div>
                            <table style="width:525px;" class="table table-bordered table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>@sale.DatesTimes.SaleDateOne.ToLongDateString()</th>
                                        <th>@sale.DatesTimes.SaleDateTwo.ToLongDateString()</th>
                                        <th>@sale.DatesTimes.SaleDateThree.ToLongDateString()</th>
                                        <th>@sale.DatesTimes.SaleDateFour.ToLongDateString()</th>
                                    </tr>
                                </thead>
                                <tbody style="width:auto">
                                    <tr>
                                        <td>Start:<br />@sale.DatesTimes.DayOneStart</td>
                                        <td>Start:<br />@sale.DatesTimes.DayTwoStart</td>
                                        <td>Start:<br />@sale.DatesTimes.DayThreeStart</td>
                                        <td>Start:<br />@sale.DatesTimes.DayFourStart</td>
                                    </tr>
                                    <tr>
                                        <td>End:<br />@sale.DatesTimes.DayOneEnd</td>
                                        <td>End:<br />@sale.DatesTimes.DayTwoEnd</td>
                                        <td>End:<br />@sale.DatesTimes.DayThreeEnd</td>
                                        <td>End:<br />@sale.DatesTimes.DayFourEnd</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><br />
                        <div>
                            @Html.ActionLink("View or edit this garage sale", "EditGarageSale", "Admin", new { id = @sale.GarageSaleId }, new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h3>This user is not currently hosting any sales.</h3>   
        }
    }
</div>

<!-- Change password modal -->
@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class="form-horizontal", @role="form" }))
{
    <div class="modal fade changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Change your password</h4>
            </div>
            <div class="modal-body" style="margin-left:50px;">
                <div class="form-group">
                    Enter a new password, then confirm it.<br />
                </div>
                @Html.HiddenFor(m => m.User.UserName, new { @name = "hdnUserName" })
                <div class="form-group" style="width:60%;">
                    <label for="txtPassword">Password *</label>
                    @Html.TextBoxFor(m => m.User.Password, new { @class = "form-control", id="txtPassword", @type="password" })
                    <span id="lblPasswordError" class="red hidden">Please enter a password.</span>
                </div>            
                <div class="form-group" style="width:60%;">
                    <label for="txtConfirmPassword">Confirm password *</label>
                    @Html.TextBoxFor(m => m.User.ConfirmPassword, new { @class = "form-control", id="txtConfirmPassword", @type="password" })
                    <span id="lblConfirmPasswordError" class="red hidden">Please confirm your password.</span>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Change password" id="btnChangePassword" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>   
            </div>
        </div>
      </div>
    </div>
}