@model DupacoGarageSale.Data.Domain.GarageSaleUser

@{
    ViewBag.Title = "View your account info";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<div>
    <div class="container">
        <div class="row" style="margin-bottom:20px">
            <h2><a href="~/Home" style="text-decoration:none;">Home / </a>Edit profile / Account info for @Model.FirstName @Model.LastName</h2><br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>View / update your account info</strong></h3>
                </div>
                <div class="panel-body">
                    <input id="hdnSaveMessage" type="hidden" value="@ViewBag.Invisible" />
                    <div class="alert alert-success hidden" role="alert" id="divSaveMessage" style="width:40%;">
                        <strong>Nice work!</strong>
                            Your profile was successfully updated!
                    </div>
                    @*<h2>Account info for @Model.FirstName @Model.LastName</h2><br />*@
                    @using (Html.BeginForm("SaveUserProfile", "Accounts", FormMethod.Post, new { @class="form-horizontal", @role="form", enctype="multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">First name</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id="txtFirstName" })
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-3 control-label">Last name</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id="txtLastName" })
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-3 control-label">User name</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id="txtUserName", @readonly="true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-3 control-label">Email</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id="txtEmail", @readonly="true" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-3 control-label">Phone</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", id="txtPhone" })
                                    </div>
                                </div>  
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">House number & street</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.Address.Address1, new { @class = "form-control", id="txtAddress1" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Apt, unit, or condo #</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.Address.Address2, new { @class = "form-control", id="txtAddress2" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">City</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.Address.City, new { @class = "form-control", id="txtCity" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">State</label>
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(m => m.Address.State, ViewData["StatesList"] as SelectList, "Select...", new { id="ddlStatesList", @class="form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Zip Code</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.Address.Zip, new { @class = "form-control", id="txtZip" })
                                    </div>
                                </div>                    
                                     
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-sm-6 col-md-3" style="margin-left:136px;">
                                <div class="thumbnail">
                                    <a href="~/Content/images/profile_pictures/@Model.ProfilePicLink" data-lightbox="@Model.ProfilePicLink">
	                                    <img alt="100%x200" data-src="holder.js/100%x200" style="height: 200px; width: 100%; display: block;" 
                                            src="~/Content/images/profile_pictures/@Model.ProfilePicLink" data-holder-rendered="true">
                                    </a>                                    
                                    <div class="caption">
                                        <h3>Profile pic <small>(optional)</small></h3>
                                        <input type="file" id="fileUpload" name="fileUpload" style="width:185px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="row down_40">
                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    <input type="submit" id="btnSaveProfile" value="Save profile" class="btn btn-primary" />
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".changePasswordModal">
                                        Change password
                                    </button>
                                </div>
                            </div>
                        </div>            
                        <div>
                            @Html.HiddenFor(m => m.Active)
                            @Html.HiddenFor(m => m.CreateDate)
                            @Html.HiddenFor(m => m.UserId)
                        </div>
                    }
                </div>
            </div>
        </div>    
    </div>
</div>

<!-- Change password modal -->
@using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post, new { @class="form-horizontal", @role="form" }))
{
    <div class="modal fade changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Change your password</h4>
            </div>
            <div class="modal-body" style="margin-left:50px;">
                <div class="form-group">
                    Enter a new password, then confirm it.<br />
                </div>
                <div class="form-group" style="width:60%;">
                    <label for="txtPassword">Password *</label>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id="txtPassword", @type="password" })
                    <span id="lblPasswordError" class="red hidden">Please enter a password.</span>
                </div>            
                <div class="form-group" style="width:60%;">
                    <label for="txtConfirmPassword">Confirm password *</label>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", id="txtConfirmPassword", @type="password" })
                    <span id="lblConfirmPasswordError" class="red hidden">Please confirm your password.</span>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Change password" id="btnChangePassword" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>   
            </div>
        </div>
      </div>
    </div>
}