@model DupacoGarageSale.Web.Models.AdminViewModel

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/Home/" style="color:#428BCA;font-weight:bold;font-size:24px;">Garage sale admin console</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavbar">
			<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
        </div>
        <div id="topNavbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @{
                    if (Model.AdminUser.UserTypeId == 1)
                    {
                        <li class="@ViewBag.NavAdmin"><a href="~/Admin/Index">Admin </a></li>
                    }
                }
                <li class="dropdown @ViewBag.NavProfile">
                    <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-expanded="false">My profile <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="~/Accounts/UserHome/@Model.AdminUser.UserId">Profile home</a></li>
                        <li><a href="~/Accounts/UserProfile/@Model.AdminUser.UserId">Edit profile</a></li>
                        <li><a href="~/Accounts/SignUp/">Create account</a></li>
                    </ul>
                </li>
                <li class="dropdown @ViewBag.NavGarageSales">
                    <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-expanded="false">Garage sales <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="~/GarageSale/Add/" class="white">Add a new sale</a></li>
                        <li><a href="~/GarageSale/View/" class="white">View my sales</a></li>
                        <li><a href="~/GarageSale/PrintFavorites/@Model.AdminUser.UserId">Print favorite sales</a></li>
                    </ul>
                </li>
                <li class="@ViewBag.NavSearch"><a href="~/GarageSale/Search?s=1" class="white">Search</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <button class="btn btn-primary btn-sm">Signed in as @Model.AdminUser.FirstName @Model.AdminUser.LastName</button>
                    @Html.ActionLink("Log out", "LogOut", "Home", null, new { @class="btn btn-success btn-sm" })
                </div>
            </form>
        </div>
    </div>
</nav>