<nav class="navbar navbar-default navbar-static-top navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nv-img hidden-xs hidden-sm" href="~/Home"><img src="~/Content/images/logo-top.png" /></a>
            <a class="navbar-brand visible-xs visible-sm" href="#">Garage Sales!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.dupaco.com"><img src="~/Content/images/d.png" /></a></li>
                @*<li><a href="#"><img src="~/Content/images/dbqriver.png" /></a></li>
                <li><a href="#"><img src="~/Content/images/katfm.png" /></a></li>
                <li><a href="#"><img src="~/Content/images/dbq.png" /></a></li>
                <li><a href="#"><img src="~/Content/images/koth.png" /></a></li>*@
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <div class="top-bar visible-xs"></div>
</nav>
<nav class="navbar navbar-default navbar-static-top navbar-bottom">
    <div class="container">
        <div id="topNavbar" class="navbar-collapse collapse">
		    @if (Model != null)
		    {
                using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class = "navbar-form navbar-right", @role = "form" }))
			    {
				    <div class="form-group">
					    @Html.TextBox("UserName", null, new { @class = "form-control", id="txtUserName", placeholder="User Name", required="" })
				    </div>
				    <div class="form-group">
					    @Html.TextBox("Password", null, new { @class = "form-control", id="txtPassword", type="Password", placeholder="Password", required="" })
				    </div>
				    <div class="form-group">
					    <input type="submit" id="btnSignIn" class="btn btn-success btn-sm" value="Sign in" />
				    </div>
				    <div class="form-group">
					    @Html.ActionLink("Sign up for free!", "SignUp", "Accounts", null, new { @class="btn btn-primary btn-sm" })
				    </div>
				    <div class="form-group">
					    <fb:login-button scope="public_profile,email" autologoutlink="false"></fb:login-button>
					    <div id="fb-root"></div>
				    </div>
			    }             
		    }
	    </div>
    </div>
    <div class="top-bar hidden-xs"></div>
</nav>

 <script>
     window.fbAsyncInit = function () {
         FB.init({
             appId: '1564898977097519',
             xfbml: true,
             version: 'v2.2'
         });

         // After your onload method has been called and initial login state has
         // already been determined. (See above about not using these during a page's
         // init function.)
         FB.Event.subscribe('auth.authResponseChange', auth_response_change_callback);
         FB.Event.subscribe('auth.statusChange', auth_status_change_callback);
     };

     (function (d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) { return; }
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

     // In your JavaScript
     var auth_response_change_callback = function (response) {
         console.log("auth_response_change_callback");
         console.log(response);
     }

     var auth_status_change_callback = function (response) {
         console.log("auth_status_change_callback: " + response.status);

         if (response.status === 'unknown') {
             location.href = '@Url.Content("/Home/LogOut")';
         }

         if (response.status === 'connected') {
             signInFacebookUser();
         }
     }

     function signInFacebookUser() {
         //alert('signing in');
         console.log('Welcome!  Fetching your information.... ');
         FB.api('/me', function (response) { // This gets the user's profile info.
             console.log('Successful login for: ' + response.name);

             var id = response.id;
             var first_name = response.first_name;
             var last_name = response.last_name;
             var email = response.email;

             //alert(email);

             $.ajax({
                 url: '@Url.Content("~/Accounts/SignInFacebookUser/")',
                 type: 'POST',
                 contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                 data: { id: id, first_name: first_name, last_name: last_name, email: email },
                 dataType: 'json',
                 success: function (data) {
                     if (data.ok)

                         window.location = data.newurl;
                     else {
                         alert(data.message);
                     }
                 }
             });
         });
     }
</script>