@model DupacoGarageSale.Web.Models.GarageSaleViewModel

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/Home/">Add your garage sale</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@ViewBag.NavProfile"><a href="~/Accounts/UserProfile/@Model.User.UserId">My profile</a></li>
                <li class="@ViewBag.NavAddSale"><a href="~/GarageSale/Add/">Add a new sale</a></li>
                <li class="@ViewBag.NavViewSales"><a href="#">View my existing sales</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <button class="btn btn-primary">Signed in as @Model.User.UserName</button>
                    @Html.ActionLink("Log out", "LogOut", "Home", null, new { @class="btn btn-success" })
                </div>
            </form>
        </div>
    </div>
</nav>