@model DupacoGarageSale.Web.Models.GarageSaleViewModel

<nav class="navbar dupaco_colors navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/Home/" style="color:white;font-weight:bold;font-size:24px;">Add or edit your garage sales</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @{
                    if (Model.User.UserTypeId == 1)
                    {
                        <li class="@ViewBag.NavAdmin"><a href="~/Admin/Index" class="white">Admin</a></li>
                    }
                }
                <li class="dropdown @ViewBag.NavProfile">
                    <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-expanded="false">My profile <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="~/Accounts/UserHome/@Model.User.UserId">View profile</a></li>
                        <li><a href="~/Accounts/UserProfile/@Model.User.UserId">Edit profile</a></li>
                        <li><a href="~/Accounts/SignUp/">Create account</a></li>
                    </ul>
                </li>
                <li class="dropdown @ViewBag.NavGarageSales">
                    <a href="#" class="dropdown-toggle white" data-toggle="dropdown" role="button" aria-expanded="false">Garage sales <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="~/GarageSale/Add/">Add a new sale</a></li>
                        <li><a href="~/GarageSale/View/">View my sales</a></li>
                    </ul>
                </li>
                <li class="@ViewBag.NavSearch/"><a href="~/GarageSale/Search/" class="white">Search</a></li>
                <li class="@ViewBag.NavCreateItinerary"><a href="~/Itinerary/GetUserItineraries/@Model.User.UserId" class="white">View itineraries</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <button class="btn btn-primary">Signed in as @Model.User.FirstName @Model.User.LastName</button>
                    @Html.ActionLink("Log out", "LogOut", "Home", null, new { @class="btn btn-success" })
                </div>
            </form>
        </div>
    </div>
</nav>