@model DupacoGarageSale.Web.Models.GarageSaleViewModel

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" style="background-color: #87C440;">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/Home/" style="color:white;font-weight:bold;font-size:24px;">Say hello to a good buy!</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavbar">
			<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
        </div>
        @if (Model != null)
        {
            <div id="topNavbar" class="navbar-collapse collapse" style="color:white;">
                <ul class="nav navbar-nav">
                    @{
                        if (Model.User.UserTypeId == 1)
                        {
                            <li class="@ViewBag.NavAdmin"><a href="~/Admin/Index"><span class="black">Admin</span> </a></li>
                        }
                    }
                    <li class="dropdown @ViewBag.NavProfile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="black">My profile</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="~/Accounts/UserHome/@Model.User.UserId">Profile home</a></li>
                            <li><a href="~/Accounts/UserProfile/@Model.User.UserId">Edit profile</a></li>
                            <li><a href="~/Accounts/SignUp/">Create account</a></li>
                        </ul>
                    </li>
                    <li class="dropdown @ViewBag.NavGarageSales white">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="black">Garage sales</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="~/GarageSale/Add/">Add a new sale</a></li>
                            <li><a href="~/GarageSale/View/">View my sales</a></li>
                            <li><a href="~/GarageSale/PrintFavorites/@Model.User.UserId">Print favorite sales</a></li>
                        </ul>
                    </li>
                    <li class="@ViewBag.NavSearch"><a href="~/GarageSale/Search?s=1"><span class="black">Search</span> </a></li>
                    @if(Model.User.Address != null)
                    {
                        <li class="@ViewBag.NavCreateItinerary"><a href="~/Itinerary/GetUserItineraries/@Model.User.UserId"><span class="black">View itineraries</span> </a></li>
                    }
                </ul>
                <form class="navbar-form navbar-right" role="form">
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm">Signed in as @Model.User.FirstName @Model.User.LastName</button>
                        @Html.ActionLink("Log out", "LogOut", "Home", null, new { @class="btn btn-success btn-sm" })
                    </div>
                </form>
            </div>
        }
    </div>
</nav>