<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            @*<a class="navbar-brand" href="~/Home/">
                <img alt="dupaco!" src="~/Content/images/dupaco.png" />
            </a>*@
            <a class="navbar-brand" href="~/Home/">Welcome to the Dupaco Garage Sales!</a>
            @*<div class="form-group">
                @Html.ActionLink("Search the garage sales!", "Search", "GarageSale", null, new { @class="btn btn-warning" }) 
            </div>*@
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            if (Model != null)
            {
                @using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class = "navbar-form navbar-right", @role = "form" }))
                {
                    @*<div class="form-group">
                        @Html.ActionLink("Search the sales!", "Search", "GarageSale", null, new { @class="btn btn-warning" }) 
                    </div>*@
                    <div class="form-group">
                        @Html.TextBox("UserName", null, new { @class = "form-control", id="txtUserName", placeholder="User Name", required="" })
                    </div>
                    <div class="form-group">
                        @Html.TextBox("Password", null, new { @class = "form-control", id="txtPassword", type="Password", placeholder="Password", required="" })
                    </div>
                    <input type="submit" class="btn btn-success" value="Sign in" />
                    
                    @Html.ActionLink("Sign up for free!", "SignUp", "Accounts", null, new { @class="btn btn-primary" })              
                }
            }           
        </div>
    </div>
</nav>