@model DupacoGarageSale.Web.Models.GarageSaleViewModel

@{
    ViewBag.Title = "View and build your itinerary";
    Layout = "~/Views/Shared/_ItineraryLayout.cshtml";

    var itineraryLegs = new List<int>();
    var arrayItineraryLegsJoined = string.Empty;
}

<div class="container-fluid">
    <div class="row" style="margin-left:10px;">
        <h2><a href="~/Home" style="text-decoration:none;">Home / </a>@ViewBag.Title / @Model.GarageSaleItinerary[0].ItineraryName</h2>
        <br />                
        @{ 
            if (Model.User.Address != null)
            {
                            
                var startingAddress =  Model.User.Address.Address1 + " " + Model.User.Address.Address2 + " " + Model.User.Address.City + " " + 
                Model.User.Address.State  + " " + Model.User.Address.Zip;

                <input type="hidden" id="hdnStartingAddress" value="@startingAddress" />
                <input type="hidden" id="hdnItineraryLegs" value="@Model.GarageSaleItinerary.Count" />
                
                <div class="col-md-5">      
                    <form>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Starting address</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="text" id="txtStartingAddress" class="form-control" style="width:400px;" value="@startingAddress" />
                                </div>
                                <div class="form-group">
                                    <!-- Adding an itinerary here means it is not tied to any particular sale -->
                                    @Html.ActionLink("Add new garage sale", "Search", "GarageSale", new { s=1 }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Add new stopover", "AddNewItineraryLeg", new { userId = @Model.User.UserId }, new { @class="btn btn-primary" })
                                </div>
                            </div>
                        </div>                            
                        <br />

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Your stopovers - drag to rearrange your route</h3>
                            </div>
                            <div class="panel-body container-overflow" style="min-height:260px;">
                                <input id="hdnLegDeletedMessage" type="hidden" value="@ViewBag.Invisible" />
                                <div class="alert alert-success hidden" role="alert" id="divLegDeletedMessage" style="width:60%;">
                                    <strong>Nice work!</strong>
                                    Itinerary leg deleted.
                                </div>

                                <!-- begin itinerary legs code -->
                                @*<ul class="list-group" id="sortable">*@
                                <ul id="sortable" class="list-group" >
                                    @foreach (var address in Model.GarageSaleItinerary) 
                                    {
                                        var itineraryAddress = string.Empty;                                                                                   

                                        if (address.SaleAddress1 == "null_sale")
                                        {
                                            // Continue.
                                        }
                                        else
                                        {
                                            itineraryAddress = address.SaleAddress1 + " " + address.SaleAddress2 + " " + address.SaleCity + " " + address.SaleState + " " + address.SaleZipCode;
                                        }

                                        itineraryLegs.Add(address.ItineraryLegId);
                                        <li class="list-group-item">
                                            <label for="txtItineraryLeg@(address.ItineraryLegId)">Stopover:</label>
                                            <input type="text" id="txtItineraryLeg@(address.ItineraryLegId)" class="input-sm" style="width:350px;" value="@itineraryAddress" />
                                            <a href="/Itinerary/DeleteItineraryLeg?legId=@(address.ItineraryLegId)" class="btn btn-danger btn-sm">Delete</a>
                                            <input type="hidden" id="hdnItineraryLeg@(address.ItineraryLegId)" value="@address.ItineraryLegId" />
                                        </li>
                                    }
                                </ul>
                                <input type="hidden" id="hdnNewItineraryLegs" />
                                <!-- end itinerary legs code -->
                            </div>
                        </div>

                        @{
                            var arrayItineraryLegs = itineraryLegs.ToArray();
                            arrayItineraryLegsJoined = string.Join(",", arrayItineraryLegs);
                        }
                        
                        <input type="button" id="btnMapItinerary" class="btn btn-primary" value="Get directions" onclick="calculateRoute();" /><br /><br />
                    </form>
                </div>
                                    
                <div class="col-md-7"> 
                    <!-- the map with directions -->
                    <div class="row">
                        <div id="map-itinerary" class="alert alert-info" style="padding:3px;"></div>
                    </div><br />                    
                </div>
                <div class="col-md-11" style="margin-left:10px;">
                    <div class="row">
                        <div id="driving-directions" class="hidden">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Driving directions</h3>
                                </div>
                                <div class="panel-body container-overflow">
                                    <button class="btn btn-primary" onclick="javascript:window.print();">Print driving directions</button><br /><br /> 
                                    <div id="directions_panel"></div>                                    
                                </div>
                            </div>                                                           
                        </div>
                    </div>
                </div>
            }
            else
            {
                // Show something here.
                <p class="lead">No itinerary available.</p>
                <div>
                    To add itinerary items, first make sure you have an address in your profile, then when shopping, click the 
                    'Add to itinerary' link on a garage sale home page.
                </div>
            }
        }
    </div>
    <hr />
    <div class="row" style="margin-left:5px;">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title">Search garage sales</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("ItineraryPageSearch", "Itinerary", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <div class="input-group">
                            <input class="form-control" type="text" id="txtSearchCriteria" name="txtSearchCriteria" style="width:375px" placeholder="What are you looking for?">
                            <span class="input-group-btn">
                                <input type="submit" id="btnSearchBarFind" class="btn btn-primary" value="Find it!" />
                            </span>
                        </div><br /><br />
                        
                        <div>
                            @if (Model.ItinerarySearchResults != null)
                            {
                                <ul class="list-group">
                                    @foreach (var item in Model.ItinerarySearchResults.ItinerarySpecialItems)
                                    {
                                        <li class="list-group-item">
                                            <div class="form-inline">
                                                <div class="form-group">                                                    
                                                    <a href="~/Content/images/garage_sale_pictures/@item.PictureLink" data-lightbox="@item.PictureLink">
                                                        <img alt="item pic" class="img-rounded" data-src="holder.js/100x120" style="height:100px; width:120px; display: block;" 
                                                            src="~/Content/images/garage_sale_pictures/@item.PictureLink" />
                                                    </a>
                                                </div>
                                                <div class="form-group">
                                                    <h4>@item.Title</h4>
                                                    <h4>$ @item.Price</h4>
                                                </div>
                                            </div><br />
                                            <span>@item.Description</span><br /><br />
                                            <div>
                                                <table class="table table-bordered table-condensed">                            
                                                    <tr>
                                                        <td class="text-center">@item.SaleDatesTimes.SaleDateOne.DayOfWeek <br /> @item.SaleDatesTimes.SaleDateOne.ToLongDateString()</td>
                                                        <td class="text-center">@item.SaleDatesTimes.SaleDateTwo.DayOfWeek <br /> @item.SaleDatesTimes.SaleDateTwo.ToLongDateString()</td>
                                                        <td class="text-center">@item.SaleDatesTimes.SaleDateThree.DayOfWeek <br /> @item.SaleDatesTimes.SaleDateThree.ToLongDateString()</td>
                                                        <td class="text-center">@item.SaleDatesTimes.SaleDateFour.DayOfWeek <br /> @item.SaleDatesTimes.SaleDateFour.ToLongDateString()</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">Start: @item.SaleDatesTimes.DayOneStart</td>
                                                        <td class="text-center">Start: @item.SaleDatesTimes.DayTwoStart</td>
                                                        <td class="text-center">Start: @item.SaleDatesTimes.DayThreeStart</td>
                                                        <td class="text-center">Start: @item.SaleDatesTimes.DayFourStart</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">End: @item.SaleDatesTimes.DayOneEnd</td>
                                                        <td class="text-center">End: @item.SaleDatesTimes.DayTwoEnd</td>
                                                        <td class="text-center">End: @item.SaleDatesTimes.DayThreeEnd</td>
                                                        <td class="text-center">End: @item.SaleDatesTimes.DayFourEnd</td>
                                                    </tr>
                                                </table>
                                            </div> 
                                            <div>
                                                <a href="~/GarageSale/ViewGarageSale/@item.SaleId" class="btn btn-primary btn-xs">Visit this garage sale</a>
                                                <a href="~/GarageSale/AddToUserItinerary?saleId=@item.SaleId&itineraryId=@Model.GarageSaleItinerary[0].ItineraryId" class="btn btn-primary btn-xs">Add to itinerary</a>
                                            </div> 
                                        </li>
                                    }
                                </ul>                            
                            }
                        </div>
                        <div>
                            @if (Model.ItinerarySearchResults != null)
                            {
                                <ul class="list-group">
                                    @foreach (var item in Model.ItinerarySearchResults.ItineraryGarageSaleItems)
                                    {
                                        <li class="list-group-item">
                                            <a href="~/Content/images/keep-calm-and-come-to-the-dupaco-garage-sale.png" data-lightbox="dupaco_garage_sale">
                                                <img class="img-circle" style="width:75px;height:75px" src="~/Content/images/keep-calm-and-come-to-the-dupaco-garage-sale.png" />
                                            </a><br /><br />
                                            <div>
                                                @item.ItemCategoryName - @item.ItemSubcategoryName
                                            </div>
                                            <div>
                                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> @item.Address1<br />
		                                        @if (item.Address2 != string.Empty)
                                                {                        
			                                        @item.Address2<br />
                                                }
		                                        @item.City, @item.State @item.ZipCode<br /><br />
                                                <div>
                                                    <table class="table table-bordered table-condensed">                            
                                                        <tr>
                                                            <td class="text-center">@item.SaleDatesTimes.SaleDateOne.DayOfWeek <br /> @item.SaleDatesTimes.SaleDateOne.ToLongDateString()</td>
                                                            <td class="text-center">@item.SaleDatesTimes.SaleDateTwo.DayOfWeek <br /> @item.SaleDatesTimes.SaleDateTwo.ToLongDateString()</td>
                                                            <td class="text-center">@item.SaleDatesTimes.SaleDateThree.DayOfWeek <br /> @item.SaleDatesTimes.SaleDateThree.ToLongDateString()</td>
                                                            <td class="text-center">@item.SaleDatesTimes.SaleDateFour.DayOfWeek <br /> @item.SaleDatesTimes.SaleDateFour.ToLongDateString()</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">Start: @item.SaleDatesTimes.DayOneStart</td>
                                                            <td class="text-center">Start: @item.SaleDatesTimes.DayTwoStart</td>
                                                            <td class="text-center">Start: @item.SaleDatesTimes.DayThreeStart</td>
                                                            <td class="text-center">Start: @item.SaleDatesTimes.DayFourStart</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center">End: @item.SaleDatesTimes.DayOneEnd</td>
                                                            <td class="text-center">End: @item.SaleDatesTimes.DayTwoEnd</td>
                                                            <td class="text-center">End: @item.SaleDatesTimes.DayThreeEnd</td>
                                                            <td class="text-center">End: @item.SaleDatesTimes.DayFourEnd</td>
                                                        </tr>
                                                    </table>
                                                </div> 
		                                        <div>
                                                    <a href="~/GarageSale/ViewGarageSale/@item.SaleId" class="btn btn-primary btn-xs">Visit this garage sale</a>
                                                    <a href="~/GarageSale/AddToUserItinerary?saleId=@item.SaleId&itineraryId=@Model.GarageSaleItinerary[0].ItineraryId" class="btn btn-primary btn-xs">Add to itinerary</a>
                                                </div>
                                            </div>                                            
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    }

                    <div id="searchValidation" class="hidden alert alert-danger fade in" role="alert" style="width:444px;">
                        <strong>Oops!</strong>
                        Please enter search criteria.
                    </div>

                    <input type="hidden" id="hdnSearchBarCriteria" value="@ViewBag.SearchCriteria" />
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title">Favorite garage sales</h3>
                </div>
                <div class="panel-body">
                    @if (Model.FavoriteGarageSales != null)
                    {
                        if (Model.FavoriteGarageSales.Count > 0)
                        {
                            <ul class="list-group">
                                @foreach (var sale in Model.FavoriteGarageSales)
                                {
                                    <li class="list-group-item">
                                        <div>
                                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> @sale.SaleAddress1<br />
		                                    @if (sale.SaleAddress2 != string.Empty)
                                      {                        
			                                    @sale.SaleAddress2<br />
                                      }
		                                    @sale.SaleCity, @sale.SaleState @sale.SaleZip<br /><br />
		                                    <div>
                                                <button type="button"class="btn btn-default btn-xs" data-toggle="popover" title="@sale.GarageSaleName" data-placement="top"
                                                    data-content="@sale.SaleDescription">Quick view</button>
                                                <a href="~/GarageSale/ViewGarageSale/@sale.GarageSaleId" class="btn btn-primary btn-xs">Visit this garage sale</a>
                                                <a href="~/GarageSale/RemoveSaleFromFavesByUserId?saleId=@sale.GarageSaleId&userId=@Model.User.UserId" class="btn btn-danger btn-xs">Remove</a>
                                            </div>
                                        </div> 
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>No favorites yet. Let's get shopping!</span>
                        }
                    }                    
                </div>
            </div>
        </div>        
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEuaqeYdUf01yfZX12DIppc6AKHeegvzY"></script>
<script type="text/javascript"> 
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var geocoder;

    function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var dubuque = new google.maps.LatLng(41.850033, -87.6500523);
        var mapOptions = {
            zoom: 5,
            center: dubuque
        }
        map = new google.maps.Map(document.getElementById('map-itinerary'), mapOptions);
        directionsDisplay.setMap(map);
        
        geoCodeAddress(map);
    }

    function geoCodeAddress(map) {
        var address = document.getElementById('hdnStartingAddress').value;

        geocoder = new google.maps.Geocoder();

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var searchCenter = results[0].geometry.location; // Set the center point of the search.
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });

                var infowindow = new google.maps.InfoWindow();
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.setContent('Your starting point: ' + results[0].formatted_address);
                    infowindow.open(map, marker);
                });
            }
        });
    }

    function calculateRoute() {
        var itineraryLegs = '@arrayItineraryLegsJoined';

        if ($("#hdnNewItineraryLegs").val() != "") {
            itineraryLegs = $("#hdnNewItineraryLegs").val();
        }

        //alert('itineraryLegs: ' + itineraryLegs);

        var selectedLegs = new Array();
        selectedLegs = itineraryLegs.split(',');
        //alert('legs: ' + selectedLegs);

        var start = document.getElementById('hdnStartingAddress').value;
        // alert('starting address: ' + start);
        var lastItem = 0;
        var legsCount = selectedLegs.length;

        // alert('legs count: ' + legsCount);
        lastItem = selectedLegs[legsCount-1];
        // alert('last item: ' + lastItem);

        var end = document.getElementById('txtItineraryLeg' + lastItem).value;
        //alert('end addy: ' + end);

        // Push the itinerary legs into the waypoints and then set the last waypoint as the destination.
        var wayPointsList = [];        

        for (var i = 0; i < selectedLegs.length; i++) {

            var wypt = document.getElementById('txtItineraryLeg' + selectedLegs[i]).value;
            // alert('waypoint: ' + wypt);

            wayPointsList.push({
                location: wypt,
                stopover: true
            });
        }

        var request = {
            origin: start,
            destination: end,
            waypoints: wayPointsList,
            optimizeWaypoints: false,
            travelMode: google.maps.TravelMode.DRIVING
        };

        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
                var directionsPanel = document.getElementById('directions_panel');
                directionsPanel.innerHTML = '';

                // For each route, display summary information.
                for (var i = 0; i < route.legs.length; i++) {
                    var routeSegment = i + 1;
                    directionsPanel.innerHTML += '<b>Route Segment: ' + routeSegment + '</b><br>';
                    directionsPanel.innerHTML += route.legs[i].start_address + ' to ';
                    directionsPanel.innerHTML += route.legs[i].end_address + '<br>';
                    directionsPanel.innerHTML += 'Distance: ' + route.legs[i].distance.text + '<br>';

                    for (x = 0; x < route.legs[i].steps.length; x++) {
                        directionsPanel.innerHTML += route.legs[i].steps[x].instructions + ' <br>';

                        //debugObject(route.legs[i].steps[x]);
                    }

                    directionsPanel.innerHTML += ' <br>';
                }
            }
            else {
                alert('problem: ' + status);
                directionsPanel.innerHTML += 'There was a problem getting the directions. <br>';
            }
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    function debugObject(inputobject) {
        obj = inputobject;
        for (x in obj) {
            alert(x + ": " + obj[x]);
        }
    }

</script>